/*
NAV
*/
.navbar-nav li {
    margin-right: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-size: 25px;
    margin-right: 15px;
    font-weight: 100;
}

.navbar-nav li a:hover {
    text-decoration: underline;
}

.gold-break {
	height: 1px;
	background: #DAA520;
	max-width: 60%;
}

/*
FOOTER
*/
footer {
    min-height: 300px;
    background: #272727;
    text-align: center;
    display: table;
    width: 100%;
}

.footer-content {
    display: table-cell; 
    vertical-align: middle;
}

footer ul li {
    list-style: none;
}

footer ul li a, footer ul li a:hover {
    color: #fff;
    font-size: 20px; 
}